*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

html{
    font-family: Helvetica;
    font-size: 22px;
    color: seashell;
    background-color: black;
    text-align: center;
    opacity: 0.9;
}

header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top:0;
    /* background-color: black; */
    /* opacity: 0.8; */
    /* border:1px solid blue; */
}
.tea-cozy-logo{
    width: 100px;
    height: 40px;
    padding:2px;
}

.urls{
    display: inline-block;
    /* border: 1px solid grey; */
    padding: 15px;
    height: 50px;
}

.urls a{
    text-decoration: none;
    color:inherit;
    margin-left: 10px;
}

.urls a:hover{
    border-bottom: 3px solid seashell;
}

.urls a:active{
    border-bottom: 3px solid black;
}

main{
    margin: auto;
    margin-top:75px;
    max-width: 1200px;
    /* border:1px solid blue; */
}

.mission{
    max-width: 1200px;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../images/img-mission-background.jpg');
}

.mission article{
    width: 100%;
    background-color:black;
}

.mission article h1{
    font-size: 2.0rem;
    margin: 15px auto;
}

.mission article p{
    font-size: 1rem;
    margin: 15px auto;
}

.toms-container{
    max-width: 1000px;
    height: 700px;
    margin: auto auto;
    /* border:1px solid grey; */
    margin-top: 45px;
}

.toms-container div h2{
    font-size: 1.5rem;
    margin: 15px auto;
}

.toms-container div h4{
    font-size: 0.9rem;
}

.toms-container div{
    height: 15%;
}

.toms{
    /* margin: auto auto; */
    width: 100%;
    height: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-evenly;
}

.tea img{
    width: 300px;
    height: 200px;
}

.locations-container{
    margin: auto auto;
    width: 100%;
    height: 500px;
    margin-top: 45px;
    /* border: 1px solid grey; */
}

.locations-container h2{
    width:100%;
    font-size: 1.5rem;
    margin-bottom: 25px;
    /* text-align: center; */
}

.locations{
    width:100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}

.location{
    width: 300px;
    height: 300px;
    background-color:black;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.location h3{
    /* align-self: flex-start; */
    flex-basis: 100%;
    margin-bottom: 25px;
}

.location p{
    font-size: 0.8rem;
}

footer h2{
    font-size: 1.5rem;
    margin-bottom: 5px;
    /* color:black; */
}

footer h5{
    font-size: 0.8rem;
    margin-bottom: 25px;
}

footer p{
    font-size:0.5rem;
    text-align: left;
    margin: 5px;
}

@media only screen and (max-width:600px){
    .mission{
        width:100%;
        background-size: cover;
        background-position: center;
    }

    .toms-container{
        height:auto;
        margin: auto auto;
        /* min-height: 700px; */
    }
    .toms-container div{
        margin: 35px;
        margin-bottom: 25px;
    }
    .tea{
        margin-bottom: 25px;
    }
    .locations-container{
        height:auto;
    }

    .location{
        margin-bottom: 15px;
    }
}